In [ ]:
'''
ch06 数据加载、存储与文件格式
读写 文本格式的 数据
P162

'''

In [1]:
from matplotlib.pyplot import plot
%matplotlib inline
from PIL import Image
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
import time
import sys
import os

In [2]:
print(sys.executable)
print(sys.version)
print(sys.version_info)
print(os.getcwd())

/Library/Frameworks/Python.framework/Versions/3.5/bin/python3.5
3.5.0 (v3.5.0:374f501f4567, Sep 12 2015, 11:00:19)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]
sys.version_info(major=3, minor=5, micro=0, releaselevel='final', serial=0)
/Users/mz/dev/python/programe/PythonforDataAnalysis/ch06_Data(Loading,Save)

In [3]:
# pandas 中解析数据的格式
# read_csv 文件 ，url,文件型对象中加载带分隔符的数据，分隔符默认为逗号
# read_table 文件 ，url,文件型对象中加载带分隔符的数据，分隔符默认为制表符("\t")
# read_fwf 读取定宽列个是数据(也就是说，没有分隔符)
# read_clipboard 读取剪切板中的数据，
#

In [4]:
!cat ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [5]:
df = pd.read_csv('ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
df = pd.read_table('ex1.csv',sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
!cat ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [8]:
df = pd.read_csv('ex2.csv',header=None)
df

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [9]:
df = pd.read_csv('ex2.csv',names=['a','b','c','d','message'])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
names=['a','b','c','d','message']
df = pd.read_csv('ex2.csv',names=names,index_col='message')
df

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [11]:
!cat csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [12]:
parsed = pd.read_csv('csv_mindex.csv',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [13]:
list(open('ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [15]:
result = pd.read_table('ex3.txt',sep='\s+')# sep 支持正则表达式
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [17]:
! cat ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [24]:
pd.read_csv('ex4.csv')

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [25]:
# skiprows
pd.read_csv('ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [27]:
!cat ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [31]:
e5 = pd.read_csv('ex5.csv')
e5

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [32]:
pd.isnull(e5)

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [37]:
e5_n = pd.read_csv('ex5.csv',na_values=['NULL'])
e5_n

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [43]:
sentinels = {'message':['foo','NA'],'somethings':['two']}
pd.read_csv('ex5.csv',na_values=sentinels)

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     NaN

In [44]:
# # read_csv/read_table 函数的参数

In [45]:
'''
path    表示文件的位置
sep | delimiter  各行中拆分的字符序列 or 正则表达式
header  用作列名的行号 默认为 0 (第一行)，如果没有header 行就应该设置为 None
index_col 
names
skiprows
na_values
comment
parse_dates
keep_date_col
converters
dayfirst
date_parser
nrows
iterator
chunksize
skip_footer
verbose
encoding
squeeze
thousands
'''

'\npath    表示文件的位置\nsep | delimiter  各行中拆分的字符序列 or 正则表达式\nheader  用作列名的行号 默认为 0 (第一行)，如果没有header 行就应该设置为 None\nindex_col \nnames\nskiprows\nna_values\ncomment\nparse_dates\nkeep_date_col\nconverters\ndayfirst\ndate_parser\nnrows\niterator\nchunksize\nskip_footer\nverbose\nencoding\nsqueeze\nthousands\n'

In [46]:
# 逐块读取文本文件

In [51]:
pd.read_csv('ex6.csv',nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [57]:
pd.read_csv('ex6.csv',chunksize=1000)

In [58]:
# help(pd.read_csv)

In [63]:
chunk = pd.read_csv('ex6.csv',chunksize=1000)
tot = Series([])
for peice in chunk :
    tot = tot.add(peice['key'].value_counts(),fill_value=0)
tot = tot.sort_values(ascending=False)
tot[:5]

E    368
X    364
L    346
O    343
Q    340
dtype: float64

In [66]:
pd.read_csv('ex6.csv',chunksize=10000).get_chunk(5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q