In [1]:
%matplotlib inline
from pandas import DataFrame,Series
import pandas as pd
import numpy as np
import sys
import csv
import json
import requests
import lxml
from lxml.html import parse

In [2]:
data = pd.read_csv('ex5.csv')
data

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [3]:
data.to_csv('ex5_n.csv')

In [4]:
!ls

01_read_csv|read_table.ipynb ex5_|.csv
02_to_csv|to_txt.ipynb       ex6.csv
csv_mindex.csv               ex7.csv
ex1.csv                      frame_pickle
ex2.csv                      mydata.csv
ex3.csv                      out.csv
ex3.txt                      slib.txt
ex4.csv                      test_file.csv
ex5.csv                      tseries.csv
ex5_n.csv                    tsseries.csv

In [5]:
!cat ex5.csv
!echo '\n---------'
!cat ex5_n.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo
---------
,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [6]:
data.to_csv('ex5_|.csv',sep='|')

In [7]:
!cat 'ex5_|.csv'

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [8]:
data.to_csv(sys.stdout,na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [9]:
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [10]:
data.to_csv(sys.stdout,index=False,columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [11]:
data.to_csv(sys.stdout,index=False,columns=list('acd'))

a,c,d
1,3.0,4
5,,8
9,11.0,12

In [12]:
dates = pd.date_range('1/1/2016 00:00:000',periods=7)
dates

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07'],
              dtype='datetime64[ns]', freq='D')

In [13]:
ts = Series(np.arange(7),index=dates)
ts

2016-01-01    0
2016-01-02    1
2016-01-03    2
2016-01-04    3
2016-01-05    4
2016-01-06    5
2016-01-07    6
Freq: D, dtype: int64

In [14]:
ts.to_csv('tsseries.csv')

In [15]:
!cat tsseries.csv

2016-01-01,0
2016-01-02,1
2016-01-03,2
2016-01-04,3
2016-01-05,4
2016-01-06,5
2016-01-07,6

In [16]:
ts.to_csv('tsseries.csv',sep='|')
!cat tsseries.csv

2016-01-01|0
2016-01-02|1
2016-01-03|2
2016-01-04|3
2016-01-05|4
2016-01-06|5
2016-01-07|6

In [17]:
Series.from_csv('tsseries.csv',sep='|',parse_dates=True)

2016-01-01    0
2016-01-02    1
2016-01-03    2
2016-01-04    3
2016-01-05    4
2016-01-06    5
2016-01-07    6
dtype: int64

In [18]:
# 手工处理分隔符格式

In [19]:
!cat ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [20]:
f = open('ex7.csv')
reader = csv.reader(f)
reader

In [21]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [22]:
lines = list(csv.reader(open('ex7.csv')))
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3', '4']]

In [23]:
header,values = lines[0],lines[1:]
header

['a', 'b', 'c']

In [24]:
values

[['1', '2', '3'], ['1', '2', '3', '4']]

In [25]:
data_dict = {h: v for h,v in zip(header,zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [26]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
reader = csv.reader(f,dialect=my_dialect)
reader

In [27]:
reader = csv.reader(f,delimiter='|')
reader

In [28]:
# CSV 语支选项

In [29]:
'''
delimiter  分隔字段的单子符字符串 默认为 ','
lineterminator 用于写操作的行分隔符 默认为 '\r\n',能够识别跨平台的行结束符
quotechar 用于带有特殊字符(如分隔符)的字段的引用符号，默认为'"'
quoting 引用约定。可选值包括  csv.QUOTE_ALL(引用所有字段),csv.QUOTE_MINIMAL(只引用带有分隔符之类的特殊字段)
skipinitialspace  忽略分隔符后面的空白符
doublequote 如何让处理该字段内的引用符号。True 双写
escapechar 对于分隔符进行转义的字符串

'''

'\ndelimiter  分隔字段的单子符字符串 默认为 \',\'\nlineterminator 用于写操作的行分隔符 默认为 \'\r\n\',能够识别跨平台的行结束符\nquotechar 用于带有特殊字符(如分隔符)的字段的引用符号，默认为\'"\'\nquoting 引用约定。可选值包括  csv.QUOTE_ALL(引用所有字段),csv.QUOTE_MINIMAL(只引用带有分隔符之类的特殊字段)\nskipinitialspace  忽略分隔符后面的空白符\ndoublequote 如何让处理该字段内的引用符号。True 双写\nescapechar 对于分隔符进行转义的字符串\n\n'

In [30]:
!ls

01_read_csv|read_table.ipynb ex5_|.csv
02_to_csv|to_txt.ipynb       ex6.csv
csv_mindex.csv               ex7.csv
ex1.csv                      frame_pickle
ex2.csv                      mydata.csv
ex3.csv                      out.csv
ex3.txt                      slib.txt
ex4.csv                      test_file.csv
ex5.csv                      tseries.csv
ex5_n.csv                    tsseries.csv

In [31]:
# !touch mydata.csv
with open('mydata.csv','w') as f :
    writer = csv.writer(f,dialect=my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('6','5','4'))
    writer.writerow(('7','8','9'))
    
!cat mydata.csv

one;two;three
1;2;3
6;5;4
7;8;9

In [32]:
# JSON 数据

In [33]:
obj = {}
obj['name'] = 'Wes'
obj['place_lived'] = ['Beijing','Shanghai','Xian']
obj['pet'] = None
obj['silbings'] = [{'name':'Scott','age':24,'pet':'Zuko'},{'name':'Katie','age':20,'pet':'Cisco'}]
objs = json.dumps(obj)
objs

'{"pet": null, "place_lived": ["Beijing", "Shanghai", "Xian"], "silbings": [{"age": 24, "pet": "Zuko", "name": "Scott"}, {"age": 20, "pet": "Cisco", "name": "Katie"}], "name": "Wes"}'

In [34]:
result = json.loads(objs)
result

{'name': 'Wes',
 'pet': None,
 'place_lived': ['Beijing', 'Shanghai', 'Xian'],
 'silbings': [{'age': 24, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 20, 'name': 'Katie', 'pet': 'Cisco'}]}

In [35]:
silbings = DataFrame(result['silbings'],columns=['name','age'])
silbings

    name  age
0  Scott   24
1  Katie   20

In [36]:
silbings.to_json('slib.txt')

In [37]:
!cat slib.txt

{"name":{"0":"Scott","1":"Katie"},"age":{"0":24,"1":20}}

In [38]:
slib = pd.read_json('slib.txt')
slib

   age   name
0   24  Scott
1   20  Katie

In [39]:
'''
html xhtml web 信息收集  http://lxml.de 

'''

'\nhtml xhtml web 信息收集  http://lxml.de \n\n'

In [40]:
# r = requests.get(r'http://finance.yahoo.com/q/op?s=AAPL+Options')
# if r.status_code != 200 :
#     print(r.status_code)
#     sys.exit(0)

# text = r.text
# text

In [41]:
# parsed = parse(text)

In [42]:
# 二进制数据格式

In [43]:
frame = pd.read_csv('ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [44]:
# frame.save('frame_pickle')

In [45]:
frame.to_pickle("frame_pickle")

In [46]:
pd.read_pickle('frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [47]:
'''
HDF5
PyTables   http://www.pytables.org/   sudo easy_install-3.5 tables  
h5py   http://www.h5py.org/   

'''

'\nHDF5\nPyTables   http://www.pytables.org/   sudo easy_install-3.5 tables  \nh5py   http://www.h5py.org/   \n\n'

In [48]:

# store = pd.HDFStore('mydata.h5')
# store['obj1'] = frame
# store['obj1_col'] = frame['a']
# store

In [49]:
#  使用数据库

In [50]:
import sqlite3

In [51]:
query = '''
CREATE TABLE test(
    a VARCHAR(20),b VARCHAR(20),c REAL,d INTEGER
);
'''
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [52]:
data = [('Beijing','Beijing',1.23,45),('Xian','ShannXi',2.34,56)]
stmt = 'INSERT INTO test VALUES(?,?,?,?)'
con.executemany(stmt,data)
con.commit()

In [53]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Beijing', 'Beijing', 1.23, 45), ('Xian', 'ShannXi', 2.34, 56)]

In [54]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [55]:
z = zip(*cursor.description)
list(z)[0]

('a', 'b', 'c', 'd')

In [56]:
DataFrame(rows,columns=list(zip(*cursor.description))[0])

         a        b     c   d
0  Beijing  Beijing  1.23  45
1     Xian  ShannXi  2.34  56

In [57]:
pd.io.sql.read_sql('select * from test',con)

         a        b     c   d
0  Beijing  Beijing  1.23  45
1     Xian  ShannXi  2.34  56

In [58]:
# 读取 mangoDB 中的数据
# https://docs.mongodb.org/getting-started/python/insert/

In [62]:
from pymongo import MongoClient

In [66]:
client = MongoClient()
tweets = client.tweets

In [94]:
data = json.loads(requests.get('http://192.168.31.142:8000/get/search').text)
for tweet in data['result']:
    print(tweet)
    re = tweets.restaurants.insert_one(tweet)
#     print(re)

{'from_user': 'hello', 'id': 17, 'text': '29b7ed7e-0e9e-11e6-be93-80e6500105ee'}
{'from_user': 'bobo', 'id': 13, 'text': '29b7ee94-0e9e-11e6-849f-80e6500105ee'}
{'from_user': 'zook', 'id': 20, 'text': '29b7ef54-0e9e-11e6-ac66-80e6500105ee'}
{'from_user': 'pick', 'id': 17, 'text': '29b7efd8-0e9e-11e6-966d-80e6500105ee'}
{'from_user': 'hello', 'id': 17, 'text': '29b7f050-0e9e-11e6-9305-80e6500105ee'}
{'from_user': 'bobo', 'id': 20, 'text': '29b7f0c6-0e9e-11e6-825c-80e6500105ee'}
{'from_user': 'zook', 'id': 5, 'text': '29b7f140-0e9e-11e6-bd5f-80e6500105ee'}
{'from_user': 'pick', 'id': 13, 'text': '29b7f1a2-0e9e-11e6-b8f8-80e6500105ee'}
{'from_user': 'hello', 'id': 20, 'text': '29b7f212-0e9e-11e6-9d29-80e6500105ee'}
{'from_user': 'bobo', 'id': 18, 'text': '29b7f27e-0e9e-11e6-afa2-80e6500105ee'}
{'from_user': 'zook', 'id': 2, 'text': '29b7f2ec-0e9e-11e6-9bb0-80e6500105ee'}
{'from_user': 'pick', 'id': 11, 'text': '29b7f35a-0e9e-11e6-a950-80e6500105ee'}
{'from_user': 'hello', 'id': 1, 'text': '29b7f3be-0e9e-11e6-be69-80e6500105ee'}
{'from_user': 'bobo', 'id': 2, 'text': '29b7f42c-0e9e-11e6-ba0c-80e6500105ee'}
{'from_user': 'zook', 'id': 11, 'text': '29b7f490-0e9e-11e6-a514-80e6500105ee'}
{'from_user': 'pick', 'id': 11, 'text': '29b7f4fe-0e9e-11e6-9e02-80e6500105ee'}
{'from_user': 'hello', 'id': 12, 'text': '29b7f562-0e9e-11e6-89cc-80e6500105ee'}
{'from_user': 'bobo', 'id': 15, 'text': '29b7f5d0-0e9e-11e6-89c0-80e6500105ee'}
{'from_user': 'zook', 'id': 15, 'text': '29b7f63e-0e9e-11e6-a129-80e6500105ee'}
{'from_user': 'pick', 'id': 17, 'text': '29b7f6ae-0e9e-11e6-b060-80e6500105ee'}

In [95]:
cursor = tweets.restaurants.find({'from_user':'bobo'})
# for document in cursor:
#     print(document)

In [92]:
# list(cursor)

In [96]:
tweet_fields = ['from_user','id','text']
result = DataFrame(list(cursor),columns=tweet_fields)
result

   from_user  id                                  text
0       bobo   1  1ec897d4-0e9d-11e6-b547-80e6500105ee
1       bobo   6  1ec899dc-0e9d-11e6-8cae-80e6500105ee
2       bobo   9  1ec89b94-0e9d-11e6-9497-80e6500105ee
3       bobo   4  1ec89d36-0e9d-11e6-9484-80e6500105ee
4       bobo   9  1ec89ee6-0e9d-11e6-a28f-80e6500105ee
5       bobo   9  7f2086fa-0e9d-11e6-aae3-80e6500105ee
6       bobo  13  7f2088e4-0e9d-11e6-bace-80e6500105ee
7       bobo  11  7f208aa6-0e9d-11e6-9317-80e6500105ee
8       bobo  20  7f208c4a-0e9d-11e6-93af-80e6500105ee
9       bobo  13  7f208e14-0e9d-11e6-a612-80e6500105ee
10      bobo  12  dc0751be-0e9d-11e6-9613-80e6500105ee
11      bobo   6  dc0753b4-0e9d-11e6-a84d-80e6500105ee
12      bobo   9  dc075568-0e9d-11e6-a337-80e6500105ee
13      bobo  12  dc07571a-0e9d-11e6-aa9b-80e6500105ee
14      bobo   7  dc0758f8-0e9d-11e6-87d3-80e6500105ee
15      bobo  13  29b7ee94-0e9e-11e6-849f-80e6500105ee
16      bobo  20  29b7f0c6-0e9e-11e6-825c-80e6500105ee
17      bobo  18  29b7f27e-0e9e-11e6-afa2-80e6500105ee
18      bobo   2  29b7f42c-0e9e-11e6-ba0c-80e6500105ee
19      bobo  15  29b7f5d0-0e9e-11e6-89c0-80e6500105ee