In [20]:
#!/user/local/bin/python
# -*- coding: utf-8 -*-
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
unames = ['user_id','gender','age','occupation','zip']
import os
os.popen('pwd').read()

'/Users/mz/dev/python/programe/PythonforDataAnalysis/ch2\n'

In [27]:
users = pd.read_table('movielens/users.dat',sep='::',header=None,names=unames,engine='python')
rnames = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_table('movielens/ratings.dat',sep='::',header=None,names=rnames,engine='python')
mnames = ['user_id','title','genres']
movies = pd.read_table('movielens/movies.dat',sep='::',header=None,names=mnames,engine='python')

In [22]:
users[:5]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [25]:
ratings[:5]

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [28]:
movies[:5]

   user_id                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [29]:
ratings

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
5              1      1197       3  978302268
6              1      1287       5  978302039
7              1      2804       5  978300719
8              1       594       4  978302268
9              1       919       4  978301368
10             1       595       5  978824268
11             1       938       4  978301752
12             1      2398       4  978302281
13             1      2918       4  978302124
14             1      1035       5  978301753
15             1      2791       4  978302188
16             1      2687       3  978824268
17             1      2018       4  978301777
18             1      3105       5  978301713
19             1      2797       4  978302039
20             1      2321       3  978302205
21             1       720       3  978300760
22             1      1270       5  978300055
23             1       527       5  978824195
24             1      2340       3  978300103
25             1        48       5  978824351
26             1      1097       4  978301953
27             1      1721       4  978300055
28             1      1545       4  978824139
29             1       745       3  978824268
...          ...       ...     ...        ...
1000179     6040      2762       4  956704584
1000180     6040      1036       3  956715455
1000181     6040       508       4  956704972
1000182     6040      1041       4  957717678
1000183     6040      3735       4  960971654
1000184     6040      2791       4  956715569
1000185     6040      2794       1  956716438
1000186     6040       527       5  956704219
1000187     6040      2003       1  956716294
1000188     6040       535       4  964828734
1000189     6040      2010       5  957716795
1000190     6040      2011       4  956716113
1000191     6040      3751       4  964828782
1000192     6040      2019       5  956703977
1000193     6040       541       4  956715288
1000194     6040      1077       5  964828799
1000195     6040      1079       2  956715648
1000196     6040       549       4  956704746
1000197     6040      2020       3  956715288
1000198     6040      2021       3  956716374
1000199     6040      2022       5  956716207
1000200     6040      2028       5  956704519
1000201     6040      1080       4  957717322
1000202     6040      1089       4  956704996
1000203     6040      1090       3  956715518
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [30]:
data = pd.merge(pd.merge(ratings,users),movies)
data

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
1,1,661,3,978302109,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
2,1,914,3,978301968,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
3,1,3408,4,978300275,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
4,1,2355,5,978824291,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
5,1,1197,3,978302268,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
6,1,1287,5,978302039,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
7,1,2804,5,978300719,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
8,1,594,4,978302268,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
9,1,919,4,978301368,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
10,1,595,5,978824268,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
11,1,938,4,978301752,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
12,1,2398,4,978302281,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
13,1,2918,4,978302124,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
14,1,1035,5,978301753,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
15,1,2791,4,978302188,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
16,1,2687,3,978824268,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
17,1,2018,4,978301777,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
18,1,3105,5,978301713,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
19,1,2797,4,978302039,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
20,1,2321,3,978302205,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
21,1,720,3,978300760,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
22,1,1270,5,978300055,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
23,1,527,5,978824195,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
24,1,2340,3,978300103,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
25,1,48,5,978824351,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
26,1,1097,4,978301953,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
27,1,1721,4,978300055,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
28,1,1545,4,978824139,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
29,1,745,3,978824268,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
...,...,...,...,...,...,...,...,...,...,...
645803,3952,3155,4,974595248,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645804,3952,3179,3,974595183,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645805,3952,2520,2,974594704,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645806,3952,2384,4,974595505,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645807,3952,116,5,974595248,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645808,3952,2531,4,974595712,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645809,3952,2706,4,974594897,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645810,3952,3363,4,974594897,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645811,3952,3364,4,974595401,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645812,3952,150,4,974595297,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645813,3952,3524,4,974595366,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645814,3952,1784,4,974595366,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645815,3952,3548,5,974595430,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645816,3952,344,3,974594538,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645817,3952,1021,3,974595183,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645818,3952,356,5,965676493,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645819,3952,34,4,974595505,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645820,3952,1031,3,974595772,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645821,3952,1032,4,974594749,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645822,3952,2791,2,974594704,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645823,3952,3599,4,974595143,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645824,3952,1210,4,965676528,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645825,3952,2015,4,974594538,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645826,3952,2017,4,974595505,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645827,3952,2018,5,974595601,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645828,3952,85,3,974595183,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645829,3952,2032,3,974595637,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645830,3952,1230,5,965676609,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645831,3952,2971,4,974594814,F,45,1,12449,"Contender, The (2000)",Drama|Thriller
645832,3952,2043,4,965676638,F,45,1,12449,"Contender, The (2000)",Drama|Thriller

In [31]:
data.ix[0]

user_id                                 1
movie_id                             1193
rating                                  5
timestamp                       978300760
gender                                  F
age                                     1
occupation                             10
zip                                 48067
title                    Toy Story (1995)
genres        Animation|Children's|Comedy
Name: 0, dtype: object

In [37]:
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.pivot_table.html
mean_ratings = data.pivot_table('rating',index=['title'],columns=['gender'],aggfunc='mean')
mean_ratings[:5]

gender                                F         M
title
$1,000,000 Duck (1971)              NaN  3.560000
'Night Mother (1986)                NaN  3.389671
'Til There Was You (1997)           NaN  3.333333
'burbs, The (1989)             4.000000       NaN
...And Justice for All (1979)  4.354545       NaN

In [39]:
rating_by_title = data.groupby('title').size()
rating_by_title[:10]

title
$1,000,000 Duck (1971)                225
'Night Mother (1986)                  213
'Til There Was You (1997)              48
'burbs, The (1989)                    205
...And Justice for All (1979)         220
1-900 (1994)                         1518
10 Things I Hate About You (1999)     151
101 Dalmatians (1961)                 272
101 Dalmatians (1996)                 211
12 Angry Men (1957)                   741
dtype: int64

In [42]:
active_titles = rating_by_title.index[rating_by_title >=250 ]
active_titles

Index(['1-900 (1994)', '101 Dalmatians (1961)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '187 (1997)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '200 Cigarettes (1999)',
       '400 Blows, The (Les Quatre cents coups) (1959)', '54 (1998)',
       ...
       'Women on the Verge of a Nervous Breakdown (1988)', 'Wonderland (1999)',
       'Wooden Man's Bride, The (Wu Kui) (1994)',
       'World Is Not Enough, The (1999)', 'X: The Unknown (1956)',
       'Xiu Xiu: The Sent-Down Girl (Tian yu) (1998)',
       'Yellow Submarine (1968)', 'You So Crazy (1994)',
       'Young Poisoner's Handbook, The (1995)', 'Zeus and Roxanne (1997)'],
      dtype='object', name='title', length=783)

In [43]:
mean_ratings = mean_ratings.ix[active_titles]
mean_ratings

gender                                                     F         M
title
1-900 (1994)                                             NaN  2.840580
101 Dalmatians (1961)                                    NaN  3.661765
12 Angry Men (1957)                                 3.707152       NaN
13th Warrior, The (1999)                                 NaN  3.609848
187 (1997)                                          3.420613       NaN
2 Days in the Valley (1996)                              NaN  3.186893
20,000 Leagues Under the Sea (1954)                      NaN  3.010776
200 Cigarettes (1999)                                    NaN  3.558140
400 Blows, The (Les Quatre cents coups) (1959)           NaN  4.271429
54 (1998)                                           3.056790       NaN
8 1/2 Women (1999)                                       NaN  3.598830
8 Heads in a Duffel Bag (1997)                           NaN  3.507353
Abominable Snowman, The (1957)                           NaN  3.017544
Above the Rim (1994)                                     NaN  3.915825
Absent Minded Professor, The (1961)                      NaN  3.127353
Ace Ventura: When Nature Calls (1995)                    NaN  3.572549
Addams Family, The (1991)                                NaN  4.259554
Adrenalin: Fear the Rush (1996)                     3.329684       NaN
Adventures of Rocky and Bullwinkle, The (2000)           NaN  3.687500
After Life (1998)                                   4.147059       NaN
Afterglow (1997)                                         NaN  3.528010
Age of Innocence, The (1993)                             NaN  4.401261
Air America (1990)                                       NaN  3.344572
Air Bud (1997)                                           NaN  3.620915
Akira (1988)                                             NaN  3.849408
Aladdin (1992)                                      4.057395       NaN
Alaska (1996)                                            NaN  3.123636
All Dogs Go to Heaven 2 (1996)                           NaN  3.794872
All Over Me (1997)                                       NaN  2.983165
Allan Quartermain and the Lost City of Gold (1987)       NaN  2.708589
...                                                      ...       ...
What Ever Happened to Baby Jane? (1962)                  NaN  3.392683
Whatever (1998)                                     3.456876       NaN
Whatever Happened to Aunt Alice? (1969)                  NaN  3.867188
Whatever It Takes (2000)                                 NaN  3.502762
When We Were Kings (1996)                                NaN  3.465465
White Christmas (1954)                                   NaN  3.487633
Who's That Girl? (1987)                                  NaN  3.720395
Whole Nine Yards, The (2000)                        3.696774       NaN
Wide Awake (1998)                                   3.776504       NaN
Wild Man Blues (1998)                               3.580838       NaN
William Shakespeare's Romeo and Juliet (1996)       2.888889       NaN
Wings (1927)                                             NaN  3.645902
Wings of Courage (1995)                                  NaN  3.498721
Wings of Desire (Der Himmel ï¿½ber Berlin) (1987)          NaN  3.863980
Winslow Boy, The (1998)                                  NaN  3.347319
Withnail and I (1987)                                    NaN  3.536538
Without Limits (1998)                               3.916290       NaN
Wizard of Oz, The (1939)                            3.935583       NaN
Woman in the Dunes (Suna no onna) (1964)            3.792825       NaN
Woman of Paris, A (1923)                                 NaN  3.637113
Women on the Verge of a Nervous Breakdown (1988)    3.753027       NaN
Wonderland (1999)                                        NaN  3.951027
Wooden Man's Bride, The (Wu Kui) (1994)             3.150134       NaN
World Is Not Enough, The (1999)                     3.372973       NaN
X: The Unknown (1956)                                    NaN  3.950413
Xiu Xiu: The Sent-Down Girl (Tian yu) (1998)             NaN  2.984127
Yellow Submarine (1968)                                  NaN  3.159748
You So Crazy (1994)                                 3.280315       NaN
Young Poisoner's Handbook, The (1995)                    NaN  3.299010
Zeus and Roxanne (1997)                                  NaN  3.494764

[783 rows x 2 columns]

In [45]:
top_female_rating = mean_ratings.sort_values(by='F',ascending=False)
top_female_rating[:10]

gender                                             F   M
title
Time Masters (Les Maï¿½tres du Temps) (1982)  4.361345 NaN
Road to Wellville, The (1994)               4.347826 NaN
Shadrach (1998)                             4.321555 NaN
Butcher Boy, The (1998)                     4.313218 NaN
Backbeat (1993)                             4.307420 NaN
House Arrest (1996)                         4.219124 NaN
Big Bang Theory, The (1994)                 4.183616 NaN
Lords of Flatbush, The (1974)               4.164502 NaN
After Life (1998)                           4.147059 NaN
GoldenEye (1995)                            4.114713 NaN

In [51]:
mean_ratings['diff'] = mean_ratings['M'] * mean_ratings['F']
sorted_by_diff = mean_ratings.sort_values(by='diff')
sorted_by_diff[:15]

gender                                                 F         M  diff
title
1-900 (1994)                                         NaN  2.840580   NaN
101 Dalmatians (1961)                                NaN  3.661765   NaN
12 Angry Men (1957)                             3.707152       NaN   NaN
13th Warrior, The (1999)                             NaN  3.609848   NaN
187 (1997)                                      3.420613       NaN   NaN
2 Days in the Valley (1996)                          NaN  3.186893   NaN
20,000 Leagues Under the Sea (1954)                  NaN  3.010776   NaN
200 Cigarettes (1999)                                NaN  3.558140   NaN
400 Blows, The (Les Quatre cents coups) (1959)       NaN  4.271429   NaN
54 (1998)                                       3.056790       NaN   NaN
8 1/2 Women (1999)                                   NaN  3.598830   NaN
8 Heads in a Duffel Bag (1997)                       NaN  3.507353   NaN
Abominable Snowman, The (1957)                       NaN  3.017544   NaN
Above the Rim (1994)                                 NaN  3.915825   NaN
Absent Minded Professor, The (1961)                  NaN  3.127353   NaN

In [55]:
rating_std_by_title = data.groupby('title')['rating'].std()
rating_std_by_title = rating_std_by_title.ix[active_titles]
rating_std_by_title.sort_values(ascending=False)[:10]

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: order is deprecated, use sort_values(...)
  app.launch_new_instance()

title
Jacob's Ladder (1990)                                       1.780432
Allnighter, The (1987)                                      1.713770
Allan Quartermain and the Lost City of Gold (1987)          1.661617
Space Jam (1996)                                            1.619248
Firm, The (1993)                                            1.560543
Star Trek: First Contact (1996)                             1.514456
Professional, The (a.k.a. Leon: The Professional) (1994)    1.512404
Thousand Acres, A (1997)                                    1.483422
Lone Star (1996)                                            1.474871
Daylight (1996)                                             1.454481
Name: rating, dtype: float64