In [1]:
'''
Ch07 数据规整化：清理、转换、合并、重塑
P186

'''

'\nCh07 数据规整化：清理、转换、合并、重塑\nP186\n\n'

In [2]:
import pandas as pd
from pandas import DataFrame,Series
import numpy as np

In [3]:
# 合并数据集

In [4]:
# 数据库风格的 DataFrame 合并

In [5]:
df1 = DataFrame({'key':list('bbacaab'),'data1':range(7)})
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [6]:
df2 = DataFrame({'key':list('abd'),'data2':range(3)})
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [7]:
pd.merge(df1,df2)

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [8]:
pd.merge(df2,df1)

   data2 key  data1
0      0   a      2
1      0   a      4
2      0   a      5
3      1   b      0
4      1   b      1
5      1   b      6

In [9]:
pd.merge(df1,df2,on='key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [10]:
df3 = DataFrame({'lkey':list('bbacaab'),'data1':range(7)})
df3

   data1 lkey
0      0    b
1      1    b
2      2    a
3      3    c
4      4    a
5      5    a
6      6    b

In [11]:
df4 = DataFrame({'rkey':list('abd'),'data2':range(3)})
df4

   data2 rkey
0      0    a
1      1    b
2      2    d

In [12]:
pd.merge(df3,df4,left_on='lkey',right_on='rkey')

   data1 lkey  data2 rkey
0      0    b      1    b
1      1    b      1    b
2      6    b      1    b
3      2    a      0    a
4      4    a      0    a
5      5    a      0    a

In [13]:
pd.merge(df1,df2,how='outer')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0
6      3   c    NaN
7    NaN   d      2

In [14]:
df1 = DataFrame({'key':list('bbacab'),'data1':range(6)})
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [15]:
df2 = DataFrame({'key':list('ababd'),'data2':range(5)})
df2

   data2 key
0      0   a
1      1   b
2      2   a
3      3   b
4      4   d

In [16]:
pd.merge(df1,df2,on='key',how='left')

    data1 key  data2
0       0   b      1
1       0   b      3
2       1   b      1
3       1   b      3
4       2   a      0
5       2   a      2
6       3   c    NaN
7       4   a      0
8       4   a      2
9       5   b      1
10      5   b      3

In [17]:
pd.merge(df1,df2,on='key',how='inner')

   data1 key  data2
0      0   b      1
1      0   b      3
2      1   b      1
3      1   b      3
4      5   b      1
5      5   b      3
6      2   a      0
7      2   a      2
8      4   a      0
9      4   a      2

In [18]:
left = DataFrame({'key1':['foo','foo','bar'],
                 'key2':['one','two','one'],
                 'lval':[1,2,3]})
left

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [19]:
right = DataFrame({'key1':['foo','foo','bar','bar'],
                  'key2':['one','one','one','two'],
                  'rval':[4,5,6,7]})
right

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [20]:
pd.merge(left,right,on=['key1','key2'],how='outer')

  key1 key2  lval  rval
0  foo  one     1     4
1  foo  one     1     5
2  foo  two     2   NaN
3  bar  one     3     6
4  bar  two   NaN     7

In [21]:
pd.merge(left,right,on='key1')

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7

In [22]:
pd.merge(left,right,on='key1',suffixes=('_left','_right'))

  key1 key2_left  lval key2_right  rval
0  foo       one     1        one     4
1  foo       one     1        one     5
2  foo       two     2        one     4
3  foo       two     2        one     5
4  bar       one     3        one     6
5  bar       one     3        two     7

In [23]:
# merge 函数的参数

In [24]:
'''
left  参与合并的 左侧 DataFrame
right  参与合并的 右侧 DataFrame
how inner(默认) ,outer ,left ,right 
on  用于连接的列名。
left_on  左侧DataFrame 中作用连接键的列
right_on 右侧DataFrame 中作用连接键的列
left_index 将左侧的行索引用作其连接键
right_index  将右侧的行索引用作其连接键
sort 
suffixes
copy
'''

'\nleft  参与合并的 左侧 DataFrame\nright  参与合并的 右侧 DataFrame\nhow inner(默认) ,outer ,left ,right \non  用于连接的列名。\nleft_on  左侧DataFrame 中作用连接键的列\nright_on 右侧DataFrame 中作用连接键的列\nleft_index 将左侧的行索引用作其连接键\nright_index  将右侧的行索引用作其连接键\nsort \nsuffixes\ncopy\n'

In [25]:
# 索引上的合并

In [26]:
left1 = DataFrame({'key':list('abaabc'),'value':range(6)})
left1

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [27]:
right1 = DataFrame({'group_val':[3.5,7]},index=list('ab'))
right1

   group_val
a        3.5
b        7.0

In [28]:
pd.merge(left1,right1,left_on='key',right_index='True')

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0

In [29]:
pd.merge(left1,right1,left_on='key',right_index='True',how='outer')

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
5   c      5        NaN

In [38]:
lefth = DataFrame({'key1':['Ohio','Ohio','Ohio','Nevada','Nevada'],
                   'key2':[2000,2001,2002,2001,2002],
                  'data':np.arange(5.)})
righth = DataFrame(np.arange(12).reshape((6,2)),index=[['Nevada','Nevada','Ohio','Ohio','Ohio','Ohio'],
                                                      [2001,2000,2000,2000,2001,2002]],
                  columns=['event1','event2'])

# print('%s%s' % (lefth,righth))
lefth

   data    key1  key2
0     0    Ohio  2000
1     1    Ohio  2001
2     2    Ohio  2002
3     3  Nevada  2001
4     4  Nevada  2002

In [39]:
righth

             event1  event2
Nevada 2001       0       1
       2000       2       3
Ohio   2000       4       5
       2000       6       7
       2001       8       9
       2002      10      11

In [40]:
pd.merge(lefth,righth,left_on=['key1','key2'],right_index=True)

   data    key1  key2  event1  event2
0     0    Ohio  2000       4       5
0     0    Ohio  2000       6       7
1     1    Ohio  2001       8       9
2     2    Ohio  2002      10      11
3     3  Nevada  2001       0       1